table {
    width: 100%;
}
td {
    width: 50%;
    border: 1px solid #ccc;
}

/**
 * tag
 */
.tag {
    background-color: #449baa;
}


#test {
    font-size: 0;
}
.txt, .pre, .tag {
    font-size: 16px;
    margin: 0;
    padding: 0px;
    border-left: 1px solid transparent;
}
.txt.caret {
    border-left: 1px solid #444;
}
.pre.caret {
    border-left: 1px solid #a00;
}
.cursor {
    position: absolute;
}
.input, .copy {
    opacity: 0;
    width: 1px;
    height: 1px;
}
.selection {
    background-color: #9edce7;
}